[submodule "components/u8g2"]
	path = components/u8g2
	url = https://github.com/olikraus/u8g2.git
[submodule "components/esp32-wifi-manager"]
	path = components/esp32-wifi-manager
	url = https://github.com/tonyp7/esp32-wifi-manager
